<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Profesional de Raúl Canchumanya</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
    <div class="perfil">
        <img src="{{ url_for('static', filename='images/imagen.png') }}">
        <h1>Canchumanya Sain Raúl</h1>
        <p>Desarrollador Web y Estudiante de Ingeniería de Sistemas.</p>
        <p><strong>Contacto:</strong></p>
        <p>Teléfono: <a href="tel:+51960926073">960926073</a></p>
        <p>Correo: <a href="mailto:i2316043@continental.edu.pe">i2316043@continental.edu.pe</a></p>

    </div>
</body>
</html>
